.coinTitle {
  padding: 1.3%;
  color: black;
  margin-left: 1%;
  border-bottom: 2px solid #151515;
}

.mainTitle {
  font-size: 3vh;
}

.small {
  font-size: 2vh;
  color: #999;
  margin-left: 1%;
}

#coinInfo {
  display: flex;
  margin-left: 3%;
}

.coinInfoPrice {
  font-size: 2.5vh;
}

.better {
  font-size: 1.3vh;
  color: black;
  margin-right: 1%;
}

.calc {
  font-size: 1.3vh;
}
.point {
  font-size: 1.3vh;
}

.nowPrice {
  padding: 1%;
  width: 52%;
}

.startPrice {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5%;
}

.startDetailPrice {
  width: 43%;
  text-align: right;
  margin-left: 7%;
  display: flex;
}

.upLine {
  border-bottom: 2px solid #151515;
}

.downLine {
  padding-top: 2%;
}

.priceName {
  font-size: 1.3vh;
  text-align: left;
}

.priceKind {
  width: 80%;
  text-align: right;
  font-size: 1.3vh;
}

.up {
  color: #d60000;
  font-size: 1.3vh;
  font-weight: bold;
}

.down {
  color: #0051c7;
  font-size: 1.3vh;
  font-weight: bold;
}

.normal {
  font-size: 1.3vh;
  color: black;
}


.kind {
  font-size: 25px;
  margin-left: 1%;
}

.chart {
  margin-top: 5%;
}

#SvgjsTspan7802{
  font-size: 0.9vh;
  font-weight: 800;
}