#ALL2 {
  display: flex;
  width: 100%;
  background-color: #e9ecf1;
}

  .chart {
    background-color: white;
    width: 60%;
    min-height: 700px;
    margin-left: 5%;
    margin-top: 1%;
  }
  
  .coinType {
    background-color: white;
    width: 30%;
    max-height: 700px;
    margin-left: 1%;
    margin-top: 1%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  #coinTypeChoice {
    width: 100%;
    display: flex;
    border-top: 1px solid #d5d6dc;
    border-bottom: 1px solid #d5d6dc;
  }
  
  .choice {
    width: 20%;
    height: 40px;
    text-align: center;
    margin-top: 3%;
    color: #2b2b2b;
    text-decoration: none;
    font-weight: bold;
  }
  
  .first {
    border-bottom: 3px solid #115dcb;
    color: #115dcb;
  }
  
  .allCoin {
    width: 100%;
  }
  
  .coinTalble {
    width: 100%;
  }
  
  .standard {
    width: 100%;
    height: 30px;
    background-color: #f9fafc;
    color: #666;
    font-size: 11px;
  }
  
  .coinName {
    border-top: 1px solid #d5d6dc;
  }
  
  .coinKoreaName {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    margin-left: 10%;
  }
  
  .coinEnglishName {
    color: #666;
    font-size: 11px;
    text-align: left;
    margin-left: 25%;
  }
  .star {
    margin-left: 8%;
    margin-top: 5%;
  }
  .coinPrice {
    border-top: 1px solid #d5d6dc;
    width: 30%;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    color: #d60000;
  }
  .coinChange {
    border-top: 1px solid #d5d6dc;
    letter-spacing: 1px;
    padding-top: 3%;
    width: 15%;
    text-align: center;
    font-size: 12px;
    font-weight: 550;
    color: #d60000;
  }
  .coinFall {
    border-top: 1px solid #d5d6dc;
    letter-spacing: 0.7px;
    padding-top: 3%;
    width: 15%;
    color: #0051c7;
    text-align: center;
    font-size: 12px;
    font-weight: 550;
  }
  .changePrice {
    text-align: right;
    margin-right: 15%;
  }
  
  .blue {
    color: #0051c7;
  }
  
  .noLogin {
    margin-top: 30%;
    text-align: center;
    font-size: 12px;
    color: #999;
  }
  
  p {
    margin: 0px 0px 0px 0px;
    line-height: 120%;
  }
  table {
    border-spacing: 0px 0px 0px 0px;
  }