@charset "utf-8";
.signin {
    padding: 0;
    margin: 0 auto;
}
.section-container {
    background: #fff;
    width: 95vmax !important;
    margin-top: 2%;
    margin-left: -17%;
}
.left {
    height: 40vmax !important;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    border-width: 2px;
    border-style: solid;
    background: url("../../assets/images/loginPage.png")
}
.right {
    box-sizing: border-box;
    background: #1f1f1f;
    color: white;
    height: 40vmax !important;
}
.inputField input{
    color: white !important;
    height: 3vh;
}
.loginFormBox {
    width: calc(100% - 100px);
    margin: 20px auto;
}
.loginTitle {
    margin: 10% 0 10% 0;
    font-size: 2vh;
    text-align: center;
}
.loginBtn {
    width: 100%;
    text-align: center;
    font-size: 1.5vh;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    color: white;
    margin-top: 5%;
}
